.channel-header-title {
  padding: 10px 0 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.header-child {
  padding-right: 30px;
}
.chat-header-parent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.add-people-button {
  width: 200px;
  background-color: #347a5a;
  color: #fff;
  border: 0;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}
