* {
  box-sizing: border-box;
}
.ChatArea {
  margin-bottom: 10px;
  align-self: flex-end;
}
.name {
  color: #5890bcff;
  background-color: #e8f5faff;
  border: none;
  height: 1.5em;
  font-size: 0.9em;
  padding: 0 5px;
}
.name:hover {
  cursor: pointer;
}

.messages-header {
  margin: 20px;
}
.messages-header-top-part {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.messages-header-top-part p {
  margin-left: 10px;
}
