.form-container {
  position: fixed;
  bottom: 10px;
  width: 90%;
  background: white;
  border: 2px solid #888888;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

textarea {
  resize: none;
  width: 100%;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-bottom: 1px solid #ffffff;
}

textarea:focus {
  border-bottom: 1px solid #888888;
  outline: none;
}

.send {
}
