.MsgPrompt {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  width: max-content;
  z-index: 200;
}

.notification-txt {
  padding: 10px 20px;
  animation: fade-out 4s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.error-class {
  background-color: #ff8800;
  color: white;
}

.success-class {
  background-color: #376e37;
  color: white;
}
