.background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 560px;
  height: 350px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 25px;
  color: #141414;
  width: 500px;
  margin: 40px;
}
.sign-up-p {
  margin-bottom: 1rem;
}

.login-button {
  padding: 10px 24px;
  background: #141414;
  color: #fff;
  border: none;
}

.close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.form-container {
  display: flex;
  flex-direction: column;
}
input {
  width: 470px;
  height: 4vh;
  padding-left: 10px;
}
label {
  width: 100%;
}

.sign-up-button {
  margin-top: 20px;
}
h1 {
  padding-bottom: 15px;
}
.add-channel-content {
  padding-bottom: 15px;
  font-size: 18px;
  color: #141414;
}

.name-label {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
