
.background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transform: translate(Y -60px);

}

.modal-wrapper {
  width: 500px;
  height: 350px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 10px;
  
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 25px;
  color: #141414;
  width: 500px;
  margin: 40px;
}
.sign-up-p {
  margin-bottom: 1rem;
}

.login-button {
  padding: 10px 24px;
  background: #141414;
  color: #fff;
  border: none;
}

.close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.addch-form-container {
  display: flex;
  flex-direction: column;
}
.add-channel-input {
  width: 470px;
  height: 4vh;
  padding-left: 10px;
}

.sign-up-button {
  margin-top: 20px;
}

.add-channel-content {
  padding-bottom: 15px;
  font-size: 18px;
  color: #141414;
}

.add-channel-header {
  padding-bottom: 15px;
}
.name-label {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}



.sidebar-button {
  width: 280px;
  background-color: #347a5a;
  color: #fff;
  border: 0;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}


.channel-member-details {
  display: flex;
  flex-direction: column;
 

}

.channel-details {
  margin-top: 7px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.date-created{
  
}