/* modal */
.ch-details-background {
  width: calc(100% - 260px);
  height: calc(100% - 60px);
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transform: translate(Y -60px);
}

.ch-details-modal-wrapper {
  width: 600px;
  height: 680px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 10px;
}

.ch-details-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 30px;
  color: #141414;
  width: 500px;
}

.close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

/* title portion  with placeholder buttons*/
.channel-title {
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

.channel-member-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 8px 20px;

}
.ch-details-placeholder{
  display: flex;
  justify-content: flex-start;
}
.ch-ph-button{
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid grey; 
  margin: 10px;
  cursor: pointer;
}

/* channel details container*/

.channel-member-details {
  display: flex;
  flex-direction: column;
  overflow: auto;
 
}


.channel-owner {
  color: #141414;
}

.display-channel-members {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  height: 220px;
  padding: 10px 0 10px 15px;
  overflow: auto;
  margin: 0 30px;
  
}
.channel-members {
  padding: 10px;
}


/* all channel details - about area*/
.ch-details-container{
  background-color: #F8F8F8;
  height: 570px;
  width: 600px;
  position: relative;
  margin: 0;
  border-top: 1px solid grey;
  overflow: auto;
  
}
.all-ch-details{
 background-color: white;
 border-radius: 8px;
 padding: 4px;
 border: 1px solid #d4d4d4;
 padding: 12px;
 margin: 0 30px;
}
.ch-about {
  font-weight: bold;
  color: #141414;
  font-size: 14px;
  padding: 10px 20px;
}
.created-by-label{
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.created-by-sub-label{
  font-size: 12px;
  color: #000;
}
.ch-about-details-1{
  background-color: white;
  padding-left: 20px;
  line-height: 20px;
  padding: 10px 9px;
  color: gray;
}