* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-search {
  display: flex;
  flex-direction: column;
}

.input-search {
  opacity: 0.5;
  outline: none;
  border: none;
}

.Suggestions {
  position: absolute;
  font-size: 1rem;
  height: max-content;
  max-height: 500px;
  width: 500px;
  max-width: 500px;
  overflow-y: scroll;
}
