* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.result {
  background-color: #000000fa;
  color: white;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  padding: 5px 20px;
  border: 1px solid black;
  align-items: center;
}

.result:hover {
  background-color: lightblue;
}

.result:last-of-type {
  visibility: hidden;
}
