* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-search {
  display: flex;
  flex-direction: column;
}

.input-search {
  opacity: 0.5;
  outline: none;
  border: none;
}

.Suggestions {
  position: absolute;
  font-size: 1rem;
  height: max-content;
  max-height: 500px;
  width: 500px;
  max-width: 500px;
  overflow-y: auto;
}

.input-search-add-members {
  width: 480px;
  height: 35px;
  padding-left: 10px;
}

.search-add-member-btn {
  width: 200px;
  background-color: #347a5a;
  color: #fff;
  border: 0;
  height: 30px;
  border-radius: 5px;
  margin-top: 25px;
}