* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.header {
  background-color: #49274b;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index:999;
}
