*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

:root {
  --darkblue: #1264a3;
  --lightblue: #36c5f0;

  --darkgreen: #007a5a;
  --lightgreen: #2eb67d;

  --darkpurple: #4a154b;
  --lightpurple: #611f69;
  --lighterpurple: #7c3085;

  --yellow: #ecb22e;
  --red: #382e31;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container img {
  transform: scale(0.3);
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(32, 32, 32);
}

.header-container p {
  color: rgb(92, 92, 92);
  margin-top: 10px;
  font-size: 1.2rem;
}

.container h1 {
  font-weight: 900;
  font-size: 3rem;
}

.dummy-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dummy-btn-container button {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 100px;
  margin: 10px 0 10px 0px;
  font-size: 1rem;
}

.google-btn {
  border: 2px solid var(--darkblue);
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--darkblue);
}

.signup-btn {
  border: 0;
  outline: 0;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: darkgray;
}

.apple-btn {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.2rem;
  color: black;
}

.container h4 {
  width: 450px;
  text-align: center;
  border-bottom: 1px solid gray;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.container h4 span {
  color: rgb(78, 78, 78);
  background: #fff;
  padding: 0 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;
  width: 400px;
  height: 200px;
}

.email-input {
  border: 0;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid black;
  background: transparent;
}

.password-input {
  border: 0;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid black;
  background: transparent;
}

.login-error {
  text-align: center;
  color: red;
  font-style: italic;
}

.submit-btn {
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.2rem;
  color: white;
  height: 40px;
  background: var(--darkpurple);
  cursor: pointer;
}

.container footer {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  bottom: 0;
  margin-bottom: 10px;
}
.copyright {
  width: 500px;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  color: #141414;

}